/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Arial, Helvetica, sans-serif, 'Trebuchet MS';
    direction: rtl;
}

app-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

li,
ul {
    list-style: none;
}

section,
header,
nav {
    display: block;
}

.p-2 {
    padding: 2%;
}

.flex {
    display: flex;
}

.around {
    justify-content: space-around;
}

button {
    transition: all .4s ease-in-out;
    padding: 4px 7px 5px;
    border-radius: 3px;
    font-weight: 100;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    width: auto;
    background-color: aquamarine;
}

.cursor {
    cursor: pointer;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.gap-20 {
    gap: 20px;
}