$back2: #aaa;
$back: #999;
$border: #555;
* {
    text-align: right;
    direction: rtl;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}

.wrap {
    width: 300px;
    text-align: center;
    input {
        width: calc(100% - 3px);
        padding: 6px 0;
        box-shadow: 0px 1px 4px 0.3px #777;
        border: none;
        text-indent: 6px;
    }
    .months,
    .years {
        padding: 2px;
        width: 100%;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-flow: wrap row;
            flex-shrink: 20px;
            align-items: center;
            li {
                padding: 10px 3px;
                border-radius: 4px;
                transition: all 1s ease-in-out;
                width: 69px;
                cursor: pointer;
                text-align: center;
                box-shadow: 0px 0px 0px 0.41px;
                margin-top: 5px;
                span {
                    font-size: 13px;
                }
                cursor: pointer;
                &:hover {
                    background-color: $back;
                }
            }
        }
    }
}